{
    "name": "{{ workflow_template.name }}",
    "description": "{{ workflow_template.description | default('') }}",
    "extra_vars": "",
    "organization": null,
    "allow_simultaneous": true,
    "ask_variables_on_launch": {{workflow_template.ask_variables_on_launch | default(false) }}
}
