{
    "name": "{{ ansible_tower.workflow_templates.name }}",
    "description": "{{ ansible_tower.workflow_templates.description | default('') }}",
    "extra_vars": "",
    "organization": null,
    "allow_simultaneous": true,
    "ask_variables_on_launch": {{ ansible_tower.workflow_templates.ask_variables_on_launch | default(false) }}
}
